
<div class="container">
  <div class="row">
    <div class="col s6 offset-s3">
      <h1>Dashbaord</h1>
      <%= link_to "Add Instrument to the Vault", new_instrument_path, class: "btn-large white black-text admin-buttons" %>
    </div>
  </div>
</div>
