<footer class="page_footer black">
            <div class="row">
              <!-- <div class="left-align">
                <p class="grey-text text-lighten-4">The House of Luthiery combines the art of fine woodworking and <br>acoustical physics to create sonically mindful, handcrafted guitars.</p>
              </div> -->
              <div>
                <ul class="center-align" id="footer_list">
                  <li><a class="grey-text text-lighten-3" href="/">Home  |  </a></li>
                  <li><a class="grey-text text-lighten-3" href="/instruments">Instruments  |  </a></li>
                  <li><a class="grey-text text-lighten-3" href="/research">Research  |  </a></li>
                  <li><a class="grey-text text-lighten-3" href="/about">About  |  </a></li>
                  <li><a class="grey-text text-lighten-3" href="/contact">Contact</a></li>
                </ul>
                <p class="grey-text text-lighten-4 center-align copyright">© 2016 Nania House of Luthiery</p>
              </div>
            </div>
            <div class="footer-copyright">
              <div class="container">
                <div id="icons">
                  <a href="https://www.facebook.com/houseofluthiery"><%= image_tag "facebook.png" %></a>
                  <a href="https://www.instagram.com/naniahouseofluthiery/"><%= image_tag "instagram.png" %></a>
                </div>
              </div>
            </div>
        </footer>
