<footer class="page_footer grey darken-3">
            <div class="row">
              <!-- <div class="left-align">
                <p class="grey-text text-lighten-4">The House of Luthiery combines the art of fine woodworking and <br>acoustical physics to create sonically mindful, handcrafted guitars.</p>
              </div> -->
              <div>
                <ul class="center-align" id="footer_list">
                  <li><a class="grey-text text-lighten-3" href="#!">Home  |  </a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">About  |  </a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Custom Build Gallery  |  </a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Research  |  </a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Ordering  |  </a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Contact</a></li>
                </ul>
                <p class="grey-text text-lighten-4 center-align">© 2014 House of Luthiery</p>
              </div>
            </div>
            <div class="footer-copyright">
              <div class="container">
              </div>
            </div>
        </footer>
