<header>
  <button class="hamburger">&#9776;</button>
  <button class="cross">&#735;</button>
</header>

<div class="menu">
  <ul>
    <li><a class="grey-text text-lighten-3" href="/">Home</a></li>
    <li><a class="grey-text text-lighten-3" href="/instruments">Instruments</a></li>
    <li><a class="grey-text text-lighten-3" href="/research">Research</a></li>
    <li><a class="grey-text text-lighten-3" href="/about">About Us</a></li>
    <li><a class="grey-text text-lighten-3" href="/contact">Contact Us</a></li>
  </ul>
</div>
