<div id="about">
  <div class="container">
      <h1>Our Mission</h1>
      <p class="about_text">

        Nania House of Luthiery is our home. It also happens to be where we design and create our guitars. As a longtime player of factory guitars I found I was perpetually searching for a unique tone the structure of these instruments could not provide. This search led me to study acoustical physics with the guitar’s design in mind. As I continued to study the physics of sound I was compelled to further understand the construction of guitars. I completed the Master’s course at Galloup School of Guitar Building and Repair.  With physics and woodworking and the aesthetic creativity of my wife Becca we passionately pursue the innovation of the ever-evolving guitar.
      </p>
      <p>
        The House of Luthiery combines the art of fine woodworking and acoustical physics to create sonically mindful, handcrafted guitars. We strive to innovate carved-top instrument voicing while meeting the highest standards of craftsmanship in each guitar. House of Luthiery designs and builds for the musician who appreciates the highest quality of sound, best achieved through a new, comprehensive understanding of guitar building.  We seek to engage fellow luthiers and musicians in a discussion promoting an all-inclusive perspective on luthiery through understanding the crucial relationship between art and science in luthiery. Continued consideration of this full scope approach to instrument construction will serve as constant inspiration in our work as science enhances our art.
      </p>
  </div>
</div>
