<div id="about">
  <div class="container">
    <h1>About The House of Luthiery:</h1>
    <p>
      The hardest part about building guitars has been learning to make peace with letting them go. It is difficult not having an opportunity to experience the instruments’ evolving acoustic properties. We miss out on hearing these instruments settle into themselves as the tone is molded by the player’s own musical style and energy.  Our obsession lies in giving the musician this opportunity to evolve with his or her new instrument. This is why I stand behind my methods, behind each instrument…I am able to build each instrument to the players ever evolving style because I understand that while every player plays differently, every tree grows differently each guitar is built with these uniquenesses in mind.
    </p>
    <p>
      The House of Luthiery combines the art of fine woodworking and acoustical physics to create sonically mindful, handcrafted guitars. We strive to innovate carved-top instrument voicing while meeting the highest standards of craftsmanship in each guitar's design and construction. HoL designs and builds for the musician who appreciates the highest quality of sound, only achieved through a new, comprehensive understanding of guitar building.  We seek to engage fellow luthiers and musicians in a discussion promoting an all-inclusive perspective on luthiery through understanding the crucial relationship between art and science in guitar building. Continued consideration of this full scope approach to instrument construction will serve as constant inspiration in our work as science enhances our art.
    </p>
  </div>
</div>
