<div id="about">
  <div class="container">
    <h1>About The House of Luthiery:</h1>
    <p>
      Our Philosophy:
      <br>
      The House of Luthiery combines the art of fine woodworking and acoustical physics to create sonically mindful, handcrafted guitars. We strive to innovate carved-top instrument voicing while meeting the highest standards of craftsmanship in each guitar. House of Luthiery designs and builds for the musician who appreciates the highest quality of sound, best achieved through a new, comprehensive understanding of guitar building.  We seek to engage fellow luthiers and musicians in a discussion promoting an all-inclusive perspective on luthiery through understanding the crucial relationship between art and science in luthiery. Continued consideration of this full scope approach to instrument construction will serve as constant inspiration in our work as science enhances our art.
    </p>
    <p>
      On Custom Builds:
      <br>
        We love building guitars the way we see fit but equally love a challenge. Understanding to great depth the fundamentals of guitar design opens up the possibilities to work with a client to design a custom instrument. When designing a custom instrument the sky is the limit for custom options. From pickups layout to tone woods.
      <br><br>
        We have built several instruments in this fashion:
      <ul>
        <li>OM2 </li>
        <li>Croonn Bass</li>
        <li>Elroy Guitar Bass</li>
      </ul>
    </p>
  </div>
</div>
