<div id="contact">
  <div class="container">
    <div class="row contact-info">
    <div class="center-align contact-headers">
      <h4>Email : info@houseofluthiery.com</h4>
      <h4>Phone : ( 574 ) 339-0554</h4>
      <div class="icons">
        <a href="https://www.facebook.com/houseofluthiery" class="white-text"><%= image_tag "facebook.png" %> Facebook</a>
        <a href="https://www.instagram.com/naniahouseofluthiery/" class="white-text"><%= image_tag "instagram.png" %>Instagram</a>
      </div>
        <p>
          <%= link_to "Drop us a line", contact_us_path, class: "btn-large white black-text center-align", id: "contact-button" %>
        </p>
  </div>
</div>
</div>
