<div id="home">
  <div class="container">
    <h1>House of Luthiery</h1>
    <div class="row">
      <h5 class="col s8 offset-s2 mission_statement">Combining the art of fine woodworking and acoustical physics to create sonically mindful, handcrafted guitars.</h5>
    </div>
  </div>
</div>
