<div id="home">
  <div class="container">
    <h1>House of Luthiery</h1>
    <h5>The House of Luthiery combines the art of fine woodworking and acoustical physics to create sonically mindful, handcrafted guitars.</h5>
    <div class="home-buttons col s6 offset-s3 center-align ">
      <%= link_to "To The Shop", "/instruments", id: "to-the-shop", class: "waves-effect waves-light btn-large  black lighten-3" %>
      <%= link_to "To The Lab", "/research", id: "to-the-lab", class: " waves-effect waves-light btn-large black lighten-3" %>
    </div>
  </div>
</div>
