<div class="container-fluid">
  <div class="row">
    <h1 class="top_title_text"><div class="text-center">House of Luthiery</div></h1>
    <h5 class="col-sm-8 offset-sm-2 mission_statement">Combining the art of fine woodworking and acoustical physics to create sonically mindful, handcrafted guitars.</h5>

    <div id="home">
    </div>
  </div>
</div>
