<div class="container">
  <div class="row">
    <h1 class="top_title_text"><div class="center-align">House of Luthiery</div></h1>
    <h5 class="col s8 offset-s2 mission_statement">Combining the art of fine woodworking and acoustical physics to create sonically mindful, handcrafted guitars.</h5>
  </div>
</div>

<div id="home">
</div>
