<div id="research">
</div>
  <div class="container-fluid">
      <h1 class="title_text">Our Research</h1>
      <div class="row">
        <div class="col s12 research-text">
          <p class="research-paragraph">
            In our pursuit to design and create sonically mindful guitars we utilize the state-of-the-art acoustics research lab at Indiana University of South Bend. Understanding that every tree grows differently and each piece of wood used in guitar construction has unique material and acoustical properties, we probe further into the nature of the guitar to find the ideal balance of resonance and structural integrity.  This understanding enables us to design and build guitars with purpose. That purpose being an instrument that projects complexities of sound only achieved through striking this ideal balance. An in-depth study on the nature of the archtop guitar is currently underway to expand upon the findings already published regarding the physics of acoustical instruments.
          </p>
          <h2 class="center-align ">Featured Videos</h2>
          <p class="center-align">
            <iframe width="420" height="315" src="http://www.youtube.com/embed/Px8xFdTnVtU"></iframe>
            <iframe width="420" height="315" src="http://www.youtube.com/embed/obhVs2oP3TQ"></iframe>
          </p>
            <div class="publication-list">

            <h2 class="center-align">Publications</h2>
            <ol class="col s4 offset-s4">
              <li><%= image_tag "pdf-icon.png", class: "pdf-image" %> <a class="white-text" href="https://s3-us-west-2.amazonaws.com/house-of-luthiery/Archtop+Dynamics.pdf?X-Amz-Date=20160214T013044Z&X-Amz-Expires=300&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Signature=699bdefc686ed79e54461a913fe7f1d40af7e96a3c2a42de9a68594d600c45f1&X-Amz-Credential=ASIAIBBO37Z4A442HWTQ/20160214/us-west-2/s3/aws4_request&X-Amz-SignedHeaders=Host&x-amz-security-token=AQoDYXdzEFMagAIy4xwn6bTtxmYKf68tOquIhGDtjoEc6PE9Bg9iJRLrA30GS%2BCZqHIzm3mUyh4wJEI8PnUU4pRmaM1FdqVM0vmDQubUAKBlLGg%2BXWHrQpEfrV4rgwnec5L1GvqyrA7znkl7HCODVyvqSTN7OxD00nIeqY/jaedAQCJXCfsL%2B7U%2BaoRi2qznbxWze937Aut4NmSN0M22ihZXRDpliFwd6aoJF4ZhVA%2B6XI6tDurOyNtwl6B%2BzM2nlPGc/G3BsZhCRds/DMWQvWnnTS5X5Txijn3rkZzOSe2GG9ku1RmfsqICXZ%2B3UyFk7mqqweK8gfhKHrqnAwccHln4BSYxxGGcHGNUILWw/7UF">Archtop Dynamics</a></li>
              <li><%= image_tag "pdf-icon.png", class: "pdf-image" %> <a class="white-text" href="https://s3-us-west-2.amazonaws.com/house-of-luthiery/CAS_Eigenmodes.pdf?X-Amz-Date=20160214T013148Z&X-Amz-Expires=300&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Signature=e1f6c85c4bbcb7bd2a10e8ddd30e09282c8caf919a6af6de47189be6bd5feb7d&X-Amz-Credential=ASIAIBBO37Z4A442HWTQ/20160214/us-west-2/s3/aws4_request&X-Amz-SignedHeaders=Host&x-amz-security-token=AQoDYXdzEFMagAIy4xwn6bTtxmYKf68tOquIhGDtjoEc6PE9Bg9iJRLrA30GS%2BCZqHIzm3mUyh4wJEI8PnUU4pRmaM1FdqVM0vmDQubUAKBlLGg%2BXWHrQpEfrV4rgwnec5L1GvqyrA7znkl7HCODVyvqSTN7OxD00nIeqY/jaedAQCJXCfsL%2B7U%2BaoRi2qznbxWze937Aut4NmSN0M22ihZXRDpliFwd6aoJF4ZhVA%2B6XI6tDurOyNtwl6B%2BzM2nlPGc/G3BsZhCRds/DMWQvWnnTS5X5Txijn3rkZzOSe2GG9ku1RmfsqICXZ%2B3UyFk7mqqweK8gfhKHrqnAwccHln4BSYxxGGcHGNUILWw/7UF">CAS Eingenmodes</a></li>
              <li><%= image_tag "pdf-icon.png", class: "pdf-image" %> <a class="white-text" href="https://s3-us-west-2.amazonaws.com/house-of-luthiery/CAS_speed_of_sound.pdf?X-Amz-Date=20160214T013215Z&X-Amz-Expires=300&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Signature=c42375695bc821a18cbef03322dff6c3c8490fa57a1809ce5082a120f4305b9e&X-Amz-Credential=ASIAIBBO37Z4A442HWTQ/20160214/us-west-2/s3/aws4_request&X-Amz-SignedHeaders=Host&x-amz-security-token=AQoDYXdzEFMagAIy4xwn6bTtxmYKf68tOquIhGDtjoEc6PE9Bg9iJRLrA30GS%2BCZqHIzm3mUyh4wJEI8PnUU4pRmaM1FdqVM0vmDQubUAKBlLGg%2BXWHrQpEfrV4rgwnec5L1GvqyrA7znkl7HCODVyvqSTN7OxD00nIeqY/jaedAQCJXCfsL%2B7U%2BaoRi2qznbxWze937Aut4NmSN0M22ihZXRDpliFwd6aoJF4ZhVA%2B6XI6tDurOyNtwl6B%2BzM2nlPGc/G3BsZhCRds/DMWQvWnnTS5X5Txijn3rkZzOSe2GG9ku1RmfsqICXZ%2B3UyFk7mqqweK8gfhKHrqnAwccHln4BSYxxGGcHGNUILWw/7UF">CAS Speed of Sound</a></li>

            </ol>
          </div>
        </div>
      </div>
  </div>
