<div id="research">
</div>
  <div class="container">
      <h1 class="title_text">Our Research</h1>
      <div class="row">
        <div class="col s12 text">
          <p>
            In our pursuit to design and create sonically mindful guitars we utilize the state-of-the-art acoustics research lab at Indiana University of South Bend. Understanding that each piece of wood used in guitar construction has unique material and acoustical properties we probe further into the nature of the guitar to find the ideal balance of resonance and structural integrity. An in-depth study on the nature of the archtop guitar is currently underway to expand upon the findings already published regarding the physics of acoustical instruments.
          </p>

          <p>
            <iframe width="420" height="315" src="http://www.youtube.com/embed/Px8xFdTnVtU"></iframe>
            <iframe width="420" height="315" src="http://www.youtube.com/embed/obhVs2oP3TQ"></iframe>
          </p>
        </div>
      </div>
  </div>
