<div id="research">
  <div class="container">
    <div class="content">
      <h1>Our Research:</h1>
      <div class="container">

      <p>
        In the pursuit of designing and creating sonically mindful guitars we utilize the state-of-the-art acoustics research lab at Indiana University of South Bend. Understanding that each piece of wood used in guitar construction has unique material and acoustical properties we probe further into the nature of the guitar to find the ideal balance of resonance and structural integrity. An in-depth study on the nature of the archtop guitar is currently underway to expand upon the findings already published regarding the physics acoustical instruments.
      </p>

      <p>
        <a href="https://www.youtube.com/watch?v=Px8xFdTnVtU">Come see for yourself on YouTube!</a>
      </p>

      </div>
    </div>
  </div>
</div>
