<div id="research">
  <div class="container">
    <div class="content">
      <h1>Our Research:</h1>
      <div class="container">

      <p>
        Understanding that every tree grows differently and every piece of wood used in making a guitar has its own unique acoustical and material properties drives the intention of bringing out the most of the materials used, as precisous as they are.
      </p>

      </div>
    </div>
  </div>
</div>
