<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      <%= @contact_info[:message] %>
    </p>
    <p>
      from: <%= @contact_info[:first_name] %> <%= @contact_info[:last_name] %> - <%= @contact_info[:email_address] %>
    </p>
  </body>
</html>
