// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@font-face {
       font-family: 'CODE';
       src: url('CODE_Light.otf') format("truetype");
       color: white !important;
   }

.mission_statement {
  font-family: CODE;
  font-size: 16px !important;
  text-align: center;
  color: white;
  margin-top: 5%;
}


#home {
  position: absolute;
  padding:0;

  top:70;
  left:0;

  width: 100%;
  height: 50%;
  background-image: url("home.jpg");
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: -5;
}

#footer_list li {
  display: inline;
}

.copyright {
  font-family: CODE;
  font-size: 11px ;
}

#footer_list {
  font-size: 12px;
}

.page_footer {
  position: fixed;
  bottom: 0px;
  height: 65px;
  width: 100%;
  margin-top: 50px;
}


header{
	width:100%;
	background:#1d1f20;
  background-color: black;
	height:50px;
	line-height:50px;
}

.home-buttons {
  font-family: CODE;
}

.home-buttons button {
  min-width: 100px;
}

.home-buttons.col.s6.offset-s3.center-align {
    display: inline-block;
    margin-left: 35%;
    margin-top: 20%;
}

.code-font-form {
  font-family: CODE;
  font-size: 18px;
}

.top_title_text {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  text-align: center;
}
