.instruments h1 {
  text-decoration: underline;
}

.instruments h4 {
  text-decoration: underline;
}

.admin-buttons {
  width: 450px;
}

body {
  display: flex;
  min-height: 100vh;
  padding-bottom: 50px;
  flex-direction: column;
  background-color: black;
  font-family: CODE;
  color: white;
}

main {
  flex: 1 0 auto;
}

.switch {
  font-size: 35px;
}
