
.instruments h1 {
  // text-decoration: underline;
}

.instrument-show {
  margin-bottom: 400px;
}

.instruments h4 {
  // text-decoration: underline;
}

.admin-buttons {
  width: 450px;
}

.custom-info {
  margin-bottom: 10%;
}

p.custom-info.col.s12 {
    padding: 10px;
    box-shadow: 0 0 5px grey;
}

body {
  display: flex;
  min-height: 100vh;
  padding-bottom: 50px;
  flex-direction: column;
  background-color: black;
  font-family: CODE;
  color: white;
}

main {
  flex: 1 0 auto;
}

.switch {
  font-size: 35px;
}


ol  {
  list-style: none;
}

.showroom-buttons {
  border: 2px solid white;
  padding: 5px;
}


.carousel {
  box-shadow: 0 0 1px white;
}

.showroom-buttons:hover {
  background-color: #AAC0BB;
}

.signature-model {
  margin: 10%;
}

.custom-models {
  margin: 10%;
}
