.instrument-show {
  margin-bottom: 10px;
  box-shadow: 3px 3px 2px grey;
  border: 1px groove grey;
}

.admin-buttons {
  width: 450px;
}

p.custom-info.col.s12 {
    padding: 10px;
    font-family: SANS;
    font-weight: 200;
    font-size: 15px;
    text-align: center;
    border: 1px solid grey;
    box-shadow: 2px 2px 1px grey;
}



main {
  flex: 1 0 auto;
}

.switch {
  font-size: 35px;
}


ol  {
  list-style: none;
}

.showroom-buttons {
  border: 2px solid black;
  border-radius: 3px;
  padding: 5px;
}


.carousel {
  box-shadow: 0 0 1px white;
}

.showroom-buttons:hover {
  padding: 10px;
  box-shadow: 2px 2px 1px white;
  background-color: #84ceb4;
}

.selected {
  padding: 10px;
  box-shadow: 2px 2px 1px white;
  background-color: #84ceb4;
}

.signature-model {
  margin: 10%;
}

.custom-model {
  margin: 10%;
}

.instrument-main-display {
  height: 300px;
  weight: 300px;
}

.inst-card {
  margin: 50px;
}


@media only screen and (max-device-width: 480px) {

  .carousel-home .carousel-item {
      width: 30% !important;
      position: absolute;
  }

  .inst-carousel {
      margin-top: 10%;
  }

  .instrument-thumbs {
    display: vertical;
  }

}
