<div class="instruments">
  <div class="container">
  <div class="row">
    <h1><div class="center-align">Signature Models</div></h1>
  </div>
  <div class="row">

    <% @signature_models.each do |model| %>
      <% @instrument = model %>
      <div class="col s6">
        <%= render "shared/instrument", {locals: @instrument} %>
      </div>
    <% end %>
  </div>
    <div class="row">
      <h1><div class="center-align">Custom Builds</div></h1>
      <% @custom_models.each do |model| %>
        <% @instrument = model %>
          <div class="col s6">
            <%= render "shared/instrument", {locals: @instrument} %>
          </div>
      <% end %>
    </div>
  </div>
</div>
